<style>
    /* Reset and Base Styles Code below */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      color: #333;
      background-color: #f4f4f4;
    }

    a{text-decoration: none;}

    /* Container */
    .container {
      max-width: 1000px;
      margin: 0 auto;
      padding: 0 10px;
    }

    /* Header Section */
    header {
      background-color: #2c3e50;
      color: white;
      padding: 3px 0;
      text-align: center;
      position: relative;
    }

    header h1 {
      margin-bottom: 5px;
      font-size: 36px;
    }

    header p {
      font-size: 18px;
    }

    header nav ul {
      list-style: none;
      margin-top: 10px;
      padding: 0;
    }

    header nav ul li {
      display: inline-block;
      margin: 0 10px;
    }

    header nav ul li a {
      color: white;
      text-decoration: none;
      font-size: 18px;
      transition: color 0.3s;
    }

    header nav ul li a:hover {
      text-decoration: underline;
      color: #ff0000;
      background-color: #ffffff;
    }

    /* Add company logo */
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70px; /* Adjust width as needed */
        border-radius: 50%;
        position: fixed;
        top: 15px;
        left: 10px;
        z-index: 1000;
        background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUTExMWFRUXFRYXFxgYGBcYFxgXFxgXGB8YHRYYHSggGBolGxYXITEiJSkrLi4vGh8zODMtNygtLisBCgoKDg0OGxAQGi0fHSUtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAOEA4QMBIgACEQEDEQH/xAAcAAEAAgMBAQEAAAAAAAAAAAAABQYDBAcCAQj/xABJEAABAgMEBgYGBwUGBwEAAAABAAIDBBESITFBBQZRYXHwBxMigZGhMkJSscHRFCNicoLh8TNDkqKyFzRTY3PCJDVUg5TD0hb/xAAZAQEBAQEBAQAAAAAAAAAAAAAAAQIDBAX/xAAhEQEBAAIDAQACAwEAAAAAAAAAAQIRAyExEkFRBEJhIv/aAAwDAQACEQMRAD8A7iiIgIiICIiAiIgIiqmu+vkto5tHnrI7hVkFp7RGTnHCGyoxON9AaILWqzprX7R0qS2LNMLwaFkOsV4OwiGDZ/FRcH1n15nZ+rYkUw4Z/cw6th02ONbUTL0jTcFXIcDLDdks/S6dsnum+WFeploz6YF5ZDae8F58lHf24vOEg3/yCf8A0rkkKFU1ANL1lYbN4yJ+Sm6rskn02Qz+2k4jP9OI2J/WGKw6P6VdGxKB0V8EnKJDddxcy00d5ovz8yGXHDfcvpiNtAWTSnfdcfh4qzZ0/VWjNLwJhtqBGhxW7Yb2vpxsm5bq/I8KYIcC0lrmG5zSWvG+rbxdmFfdUulCbg0ZHcJiGKemfrQN0SlXZntV4ptNO9oojVzWOXnWW4LrxS2x1z2E+03xvFQaGhUutIIiICIiAiIgIiICIiAiIgIiICIiAiIgrPSDrUNHyjooAdFcbEFpvBiEE1IHqNALjhhStSF+Z5mNEjRHRYzzEe9xL3nEuI8MqUwAoBcrp0w6aMzpJ0NprDlh1TRlbIDoh41ss/7apz6XC70mg95/VZ9V5l4PaAw/VGm08tybXyXtsa7gT4Xnzq3wXltzHuGJIJ4E/NUZ4zbHZpeR5mjqnuyWKEA8hgF99TwqT3c5L0XWoxPAjvDfgvkJpaCc3MpXc64+SzuRdVle4tIpkQOOB+PmvoaKOp6riB4AfAeCxkVI3Ycac+CytfQWd3deeT3qzJPl8mrNlsRoo4AEjItOXcfissSE0w7TbiHUPC74nyWFxq0D7NPEH5r5LgiHTbQ99afJXZpJaM0rGl4jZiA6zFh04OBucxwr2mmgqOBuIBH6L1U0+ydl2xmXHCIytSx4Aq2uYvBBzBC/NVby7In9O6g81YujfWd8pONqSYUYiHEbtqQGu+80u8CRmluiTb9FoiKoIiICIiAiIgIiICIiAiIgIiICxTMcMY57vRa0uPBoqfcsqrvSLM9Xoycdh/w8Rv8AGLHj2kH5kizT4jnxHiroj3Pd957i4+bisVmt4rw4YHnftSHGC3YNk7hz5rF8ajVEB2zjz4LIWEXZYHvW65lcCprR+iQ9oXLLK4+uuOMyVqAw1HCngpmBIl9mgyofOnvU9C1fAod6nNHyDW30XO57dZx6VV+rrjgKXAb+cVlhapON5IV+gQQs3VpZVkjmsxqy4YXrF/8AnYlMhu+C6PFhBakVixc8o1OPGuXzsBzDRw/RetByjo03LQobSXOiw6AX4PBLtwaAXHcFcdMSbXihC2+h6fhy05El4jWh0YUhxKdqrKnq65Bwv4tG0LthyffVcM+P47jtiIi9LziIiAiIgIiICIiAiIgIiICIiAqV0zOI0PNU2wB4zEEe5XVVXpSl7eiZwUrSCX98NzYnvag/MMNbTXla0ELYw8aLm6JaQO1WnRDsgqfo2G+IaMFVetESRaBguOeUvTtx41MQ2VW1DhrDBbRbkILEdqyQhRZHEr2yXK+RIRF61fGIwRVqzAuW7DvuzXiZh3Lll3Nus/StTQNVVdPR3QYjYzLnMe14OwsIPwV5mYCquskpbYWgdpxDBxeQ0eZCzjdU5JvF+iIL7TQ7aAfFe15hsoABkAPBel9J80REQEREBERAREQEREBERAREQFHaxynXSkxC/wASBFZ/GxzfipFVHXDXNkqeqaAX07VRUNqK0sj0nUIOIAqOCzllMZutY43K6j80S5rTgD8VlpUgc3lW6X1Ulog+pjPY4ClmIBlwx8VEzuiHQIrWuv2HIrlM5l463C4+rLq7LhkMXYqehrS0XC7I4BSUSFRu5ebT1Tx8EYjJa0xpgsvvHctOe0gW1siu8gmncFoxNKPY5rYgawOZaDngnbQWW3ipG00XTGX8Oedn5STddC3FppwUno7WeHFwqOKr0zJOdBhxzQteMhQA1pQg302GuYuC+6JkSXi6gWcsr4uGM9XQTIxUZpTTcOH6TqLPOyxbDtA5Ln8+xzqxHgkXd1TQVJub3rnJd6dLetpKf1qtGkNpPmtvVBhmJyWZEFW9a1++sKsUXbKsHmtCQly4ReqdDPVtDqi0Q4Gtwc5oobvZ2Kf6L4vWTsMkUoIh/kcPcVvVmUn+uW9427dqREXveIREQEREBERAREQEREBERAREQFyHT0vamo7330ivHdbcB5AeC68uf666M6t7ojR2Yt/B4pXxx73LjzTcd/4+WslZ0vJQmwxFLgws7WyqrWl4wihh+2BXbUforLOSZj0Z6lLR30vp4qEnJVsMMYPVfXyxXnnV29OU3NJ7RjBZCmIbARRQWjJjJTss9SLYwzMgC0imKi40i00ESCX0wqA4DgcVa4TQcV6fKhbm/WFcDYjqNsBrQKAHIUpSyLgKL2yF2gBgLhw5qpx0IAKI628qVqNx0O0wgqv/AEYAPZYa6pva6tCOFaKwSraqPmINIvELnvV23raCEIsY6HDZYDsRZca95JuU9qTJiDMQDSnaIP4mOb7yFm+jBfZV9I0Gn+NC/rakvcqZY/8ANjp6Ii+i+aIiICIiAiIgIiICIiAiIgIiIC09LSIjQnQzmLjscMDzkStxEs2S6cliQ3QiRhZJBb6wINCAc+ChdNsLnNdUU4Ee/O5dO1l0EXu66GKupR7R61MHDa4C6mYpsoaFrBKRRB6zqn2GxBbcRZs2uyLnUJvIFwNK3rx543Hp7cM5l2ioJIIKsUlGuCrsF4IClpJxC4x2WKXjraMVQTYhqKHitqFMXrpKzY231KrUTTEKCXdYTW0RQAk1rsCsL5xoUdN6PgxHWixpdtpetfLH1poaP1nhlxsGg+0CD4FJ7T7TEY1t5Owc0WppLQgL6NFDRYtH6OEJxcRftzXHPfjrjYtDnLXku1MwGj/Ghnua4OPkCtV82KBSeo0DrJu3lCaXV+04FgHeC49yYzeUiZ3WNrpKIi+k+aIiICIiAiIgIiICIiAiIgIiICIiAoLXplZCZ3Qif4aO+CnVyTpZ07EizLJGA8hkJvXTNDS1cC2GaYgBzXEG422HJTLyrj7FRkpioopiQm8iqzHaWutDNZ4M93FeD5fQ+l1EVe3OzVflZ2oxUtJxbSK048rM2rYewjJhB99VmlvpbrrUMbhUedFLRIRI3edVFTsOKy9t+7Bblk9ZZHsmmmzYodtoU871FT7phpDbTDXeXU31pVen6ZjC4wzX735L7DER5tOFLsFnLKOk8Yobnhot0qM8l1jUXRfUywc4UfF7btoB9Fvc2+m0lUrVXQhmpgFw+phEF9cHOyZ8Tu4hdXXT+Ph39PLz5/1giIvW8oiIgIiICIiAiIgIiICIiAiIgIi0NM6YgysIxY8QMYNt5J2NaL3HcAg+6b0pDlYESPENGQ2lx2k4Bo3kkAbyF+ddG6cP0x0zHFvrXPMYCpqyJUOA3NBFB9kBSWvmvETSDwxoMOWYatYSLT3e28i6oGDRcKm83UrDGpPV0u+nNCGFQg24TxWG8XhzTeO+irkaXIVo1H1gawfRZmjoD/RLsIbjkdjSb65HdhM6e1Lc2r4P1jMbPrt/+h58Vzz4rO8XXDlnmTnsJ5GBUlJ6Ucw3rBMSRBPNFrEkLjqX127ni9aO0w14xUpDm4ZuNFzBszZvFRwWdumX7fJZs0sv7dGjuhm6yFHTr2tFGipJoAMSTcABtqqzLaciOcxgFXPcGt4u9w+S9R9MRpGeaXshxXQwHAOLrJtDEYUIvvIN4wWJjcq1c5jHbtXdGCXl2Q7rVKvIze69xrmK3DcApNc/0J0qysSjZhj5d239pDr99otDiWgb1eZOchxWCJCe2Iw4OY4OaeBFy9uOtajw3e+2dERaQREQEREBERAREQEREBERAXwlRmsOsEvJQ+tmIgaMGtxe93stbi4+QxNAuMa2a5zM/Vt8CWvpDB7TxtiOHpfdwH2qVRdLzrZ0nwYNqHKUjxRUW/3LTxF8Q7m3Y9qty5TH0nFnHl8xFdEiG4E4NGxrRc0bgN+NVFzbKYYLFIemBjXCv57vctQ09GDQkXHhh4rZa1eYv7QjcD8fFbMNjczzyfPiqPUHnnnPaukahaz+jLRjfhCcTj/lk7dhzw2V521oy55u8luQAKHu8TQD3jyWozZt2LTercGZFXCy/J7ce/2hx8lzrTmrUWAe2KtyePRPH2TuPmrjqfrNbpAju7eDHn1/suPt7/W4q3RYDXghwBBuIIqCFyz45k1hyXF+f48oNiwiAF0/WPUWtXyxAOcM4fhdlwPkufT0lEY/qix3WE2Qyl5OwbeOC8OfHlLp7sM8cptt6kyHWzYfTswQSPvuFB4Nr4rN0qSdmNLxQPSa+GTvaQ5o/mf4K96pavfRoAaaF7u087XH4DDuUb0naOL5F7gKuhObFH4TR38jnLthx/Njz55/V25bAoeK3JWYiwCHQIsSE4kXw3Ftb6X0NHDjVRYdfUeteOJxC34MapFbqVoNpIpXwqu0n7c9rXo/pOn4BsxermGj2m2HnZ2mXDvaVb9E9LEnEoIzYkA5kjrGV3OZ2u8tC5XHhVJG4fL5KOmINE7TUfpjRuloEwLUCNDijOw4OpxAwPFbq/KTCWuDmktcMCCQRwIvCt2gekiel6Bz/pDPZi3upuijtV3utcFdpp39FU9Vtf5ScIZXqYx/dxCO0djH4P4XHcrYqgiIgIiICIvEaM1jS57g1rQS5ziAABeSSbgAg9qi659IkOWLoEsBHmRcRjDhH7bhi77ANdpbdWsa59Ij5gugSTnQ4N4dHFWxImVIebG/a9I5Uzp0nBawANFArJtY9TLoseIY8zEMWKczgB7LW4NaNgoO+qxzRuWxEC1opSqjI7arUY0hwpt8dy3ni9YY0LNSVWzHaD2wdnnd+fBZIRAyqtOES+71seNPeedq2GTGRDfMH3/BbRne/G7nn3rbkjcK5uHlV3wHitSXcHmlkDO91xp3c9y3zDdWhIuBpZFBltra8lYyk4bufDZ3eQXRtT9YeuHUxT9aB2XH940f7xntxGdOXQHHPnPk8TsUhAeaggkOBBBFQQRS8bDh5DaqldG1z1g+js6uGfr4jXFoAtFrQCS4gcKDvOSobo8UDsRYj6F7QDEebVG2h9Ww2gC1xBtEk0BuINKxpiejCYfEjOLy91ouuvaBSzT0fRNAMN1Ct/RumQQBEIIAYXVuIDKwy0VBF7CDc3AbjXphjNI9yOknSxLofZpi5gsBzi0EBw6sWrw7E3VrgArroLWFs9BiQYlOtsXgCgexzReBkRao4X34XFUjSsoAK3XBwNQwFll9KBpNXEg1vFb9tSJvQWiyJeWm4VbYL7Vc6Oc013EDzWOTFrfSj6SkTD7Jxa4t8Dj/AEnvWnCikPDsVeNdJIG1Ebg4B/jd41LfBUUhcs5qrhdxMiMKg7bvG9eZuEo+DMXAbPPxUswg9k45bxzyVNbi+IV7Fjot+cg0WkQorwuvdFWub4jvokw8ucRWC9xq42RfCLjeSBeCb6V3LkZassnMOhva5hLXBwLXDEPBuI70R+p0ULqhp0TsrDjigcRZiNHqxG3OHDMbiFNKsiIiDDOzTIUN0SI4MYxpc5xuAaBUkrgOvuvcSfcYbKslmu7LMDEIwfE77w3AY40pZunHWA1hSLTQFojRhtvIhs8WucRtDCuUNCsixsQ4pGZUnJzBzv581ENW3LvvG5WdKm3XgEXg4LWiNXuXiGlRfX0htG0b92ayRodRUYHnkJYSo17K881RjK3LYs88+5ehBzHPOxZVDzMKhu21BG3aDtW7JRGxbnANigVBFwfTdk7aBxXqcg1UbEh37CLwRiDtCsqVKRYWYuIx7s1uyMzdQ892f6Dao6DO2sbnUv2HePiPgvNsg3LSLHDfXnnm/ALMw888fecSoOWmzzzzQBScGZrnzznuJyCu00yaSlhEbQ48/n57FXYks5vbF4qcT6+BFcrjW8nDerGX15+HOW0rT62w4kirTQOGdxucDk4ZH4Eqy6ozaEnetYYJNa2qNJp2jDNXdmgoDDGJ/wBxN56PYodLPhG8w4zq1xIiC3Wn3i8dy5XImkRotNZUijqF1kiuFQXek4G5vuuverc2IM20ve4NjsEMgltmtwZdUlpa4Ft5r2sqldcu5tm+aWDWbRAMF9L6MeWjf6VOFoBcZjsoSOIX6EmW2me9cG0zLdXEcz2SR/CafBceSHHUdz3qV0e+20D1m+Yy+XhjUUi6ea2NHRaPG+49/wCa5y6rpUzNMtNUJEFFPPvHPPOOShplt6t9SNeqOCEICoronQ7pvq5l0u49mYbaZsEVgNRutNDv4Grs6/LcrGdDLYrHUeyIHNOxwsuHdUe9fpLV3S7JuWhTDMHtqRjZcLnN7nAjuRKkkRER+aOkeb6zSc26taRQwburY2HQd7SeJKrP0gjJTeucIt0hOA4/SYzu573OHk4KHsrTT62cGdy25eO04HFaLoIKyM0cSLTcVOxPyx2HcFus7Jv9Fx/hd8jQqqS845poVYZGbbEaWOz5rxWpUrajQr+ear4znnas8s71H+kMD7Q3eK8TMKmHO4KWLKwloJpz+qxTWjrqheGxb+blLwIgI5w2qQVOPALTsKyQZivZdccjkdx2HyKsczKNeKZ0UBOyJabwr4PpBB3rLDjU553LThxyLn3jI4kcdo81mpnjsIwQb7J+nPPJO5fXTYdzzydy0WtWQMCDxGbneMiW3GyaVwoXAiopUYqyF5fCBqASLyzs3NIBJgwhVoPZeDdebqlV4KZ0TNVa6EQagVbZBFzRR3YZS24sJqSRc0VOK68eX9azZ+XTNXNK/SJcPNzx2XjDtAY8Dce9c217lbMw/fRw7wK+dpZdD6UdJx7dPq3EteA1rQ5gp2g21W0L3UIwN1A5SfSDCDgyIDUFtKjA+sKHeHOPcpn3izJ85OdkINua9xAvg3rg6rBBfVoIzFeefko+ebesui4lWlubT5H86rHPFWojnORYyb16CA9/ZI3t8L6+8Lo3QrrF1cV0m89iLV8KuURovb+JorxZtK5lFvNAtlkcwi1zHWXtc1zCMWuaQQe4hRX6sRcd/tijf9Kz+J3yRNs6qvdMujOq0k6IB2Y8OHErlaaOqcPCG0/iVIBXb+nPRHWSkOZA7UCJRx/y41Gn+cQvNcQW54MjVvaPmLJUcCssN6qpXSOjmvFrbShHeoRrnQnX9xU3o+YyN4OS+6SkwB7TDTu4eJS99o9wJrrWAtNIjLx9oZj3qXlo4jMuxoqbZdBcHA9m4grb+lmG4RGHsPyyDsx8VN/sb822yStiSmcj38Aszy2Oy2MRiotpoip57jQEck4eQX0lsQUOPvWpJzFRQ8k3BHAtO74BanbLTntHFuAuUe1hYajDMHA/IqzQYgcKHuWnNSgxWbNNbRkN4N4yxGYXsFfI0vm25ww/PaNyxw49TZcLLsq4Hgc0GwvbYrmODmmjmkEG8YbxesVV9JWRJxqPYHNAAo1lQIbG1xLXPfUhw9ql9g43uWaS0iIku+Xc4WoRL2Xt/Z2iHCjcLLSbthGQUXo+KGvocxd2Wu7WQ7WAIqM8rli0o9zHBwNXNa0ULw4kOJqOwLJaQ7iLWdF3xv1Gco1pllCvDQtiadaDX+00Hxx81rBedtsyMWy8b7j8Od6zT60jhXZf4LNFiVCQrRfihcvsReCVUYnRaGueQWSCwntOxyXyDEaD2g4nKz81swrR9GEfxH4KaVitL6tvqImweH5InzR+gekf/lk3/ou+C/NCItRkC9hEVVvSeKl4/o9yIr+E/KFifsonFvuetRv93d98Iin4ip3VvA8FjmvSKIgyyPpDiFvTWHd8URXFK+Qfksk9kiK5eE9R7s1FaZ9Fn3giLEarfi5cEHPiiKIwxlJ6S/uo/wBT/YxEXXjS+opv7KHwd/U5Y3fFfEXHL1qPbfRK+twREg14uKxn5oiIyyHpD73yU3C9D8XxRFuJWsiIiP/Z");
        background-size: cover;
      }

    /* Services Section */
    #services {
      padding: 10px 0;
    }

    #services h2 {
      text-align: center;
      font-size: 32px;
      margin-bottom: 20px;
      color: #2c3e50;
    }

    .service-section {
      margin-bottom: 40px;
    }

    .service-section h3 {
      font-size: 28px;
      margin-bottom: 5px;
      color: #27ae60;
      text-decoration: underline;
    }

    .service-section ul {
      list-style-type: none;
      padding-left: 0;
    }

    .service-section ul li {
      font-size: 18px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }

    .service-section ul li img {
      width: 100px;
      height: auto;
      margin-right: 10px;
    }

    /* Contact Section */
    #contact {
      padding: 10px 0;
      background-color: #e8e8e8;
    }

    #contact h2 {
      text-align: center;
      font-size: 28px;
      color: #2c3e50;
      margin-bottom: 10px;
    }

    #contact p {
      text-align: center;
      font-size: 18px;
      margin-bottom: 20px;
    }

    .contact-details {
      list-style-type: none;
      padding-left: 0;
      text-align: center;
    }

    .contact-details li {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .contact-details li strong {
      color: #2c3e50;
    }

    /* Contact icons */
    .contact-icon {
      margin-right: 5px;
    }
   
    /* Footer Section */
    footer {
      background-color: #2c3e50;
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 10px 0;
      margin-top: 20px;
    }

    footer p {
      margin: 0;
      font-size: 14px;
    }

    /* Responsive Design */
    @media (max-width: 768px) {
      header nav ul li {
        display: inline-block;
        margin: 0 5px;
      }

      .service-section ul li img {
        width: 100px;
        height: auto; /* Automatically adjust the height to maintain the aspect ratio */
        margin-right: 10px;
      }
    }

    #chat{
      height: 50px;
      width: 50px;
      border-radius: 10%;
      position: fixed;
      bottom: 3px;
      left: 10px;
      z-index: 1000;
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5e/WhatsApp_icon.png");
      background-size: cover;
    }
    #Tchat{
      height: 42px;
      width: 42px;
      border-radius: 10%;
      position: fixed;
      bottom: 8px;
      left: 70px;
      z-index: 1000;
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/2048px-Telegram_logo.svg.png");
      background-size: cover;
    }
    #Mobile{
      height: 42px;
      width: 42px;
      border-radius: 50%;
      position: fixed;
      bottom: 8px;
      left: 130px;
      z-index: 1000;
      background-image: url("https://cdn.pixabay.com/photo/2014/04/02/10/56/telephone-304968_1280.png");
      background-size: cover;
    }
    #gotop{
      height: 42px;
      width: 42px;
      border-radius: 50%;
      position: fixed;
      bottom: 6px;
      left: 180px;
      z-index: 1000;
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8cdNpVBiOSNb-paJnSLwSSRxZKtIEeQLbVw&s");
      background-size: cover;
    }

      /*UPI Copu Button Style*/
      .copy-container {
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: Arial, sans-serif;
      text-align: center;
      justify-content: center;
    }

    .copy-button {
      padding: 5px 10px;
      border: none;
      background-color: #2c3e50;
      color: white;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s;
    }

    .copy-button:hover {
      background-color: #050e44;
    }
    /*UPI Copu Button Style end*/

    /* Dropdownc styling */
    .dropdownc {
      margin: 10px 0;
    }
    .dropdownc button {
      width: 100%;
      background: #2c3e50;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 5px;
      text-align: left;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .dropdownc button:hover {
      background: #0b1cda;
    }
    .dropdown-contentcourse {
      display: none;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f9f9f9;
    }
    .dropdown-contentcourse p {
      margin: 0;
      padding: 5px 0;
    }
    .icon {
      font-size: 14px;
      transition: transform 0.3s;
    }
    .icon.rotate {
      transform: rotate(180deg);
    }

.youtube{
      display: flex; /* Enables flexbox layout */
      justify-content: center; /* Adjust spacing between items */
      align-items: center; /* Align items vertically */
      flex-wrap: wrap; /* Makes it responsive */
      gap: 5px; 
  }
  #youtube{
      background-image: url(https://cdn.pixabay.com/photo/2021/08/17/17/49/youtube-6553743_640.png);
      width: 170px; /* Width of the div */
      height: 60px; /* Height of the div */
      background-size: cover; /* Ensures the image covers the div */
      background-position: center; /* Centers the image */
      border-radius: 10px;
  }
  #calendar{
      background-image: url(https://www.google.com/search?q=calendar+logo&sca_esv=d33f661f42c9ee99&udm=2&biw=360&bih=663&sxsrf=AE3TifN1Ob6hlJJU9zW4B_Umiowv-zZaQg%3A1767022014616&ei=vp1SadupJfP31e8PvL-g2AI&oq=calendar+logo&gs_lp=EhJtb2JpbGUtZ3dzLXdpei1pbWciDWNhbGVuZGFyIGxvZ28qAggAMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgARIlSpQyg1Y3yNwAHgAkAEAmAHXAaAByAiqAQUwLjQuMrgBAcgBAPgBAZgCBqACuAnCAg0QABiABBixAxhDGIoFwgIQEAAYgAQYsQMYQxiDARiKBcICChAAGIAEGEMYigXCAggQABiABBixA5gDAIgGAZIHBTAuMy4zoAfOD7IHBTAuMy4zuAe4CcIHBTMtNC4yyAdsgAgA&sclient=mobile-gws-wiz-img);
      width: 150px; /* Width of the div */
      height: 80px; /* Height of the div */
      background-size: cover; /* Ensures the image covers the div */
      background-position: center; /* Centers the image */
      border-radius: 10px;  
  }
  https://www.google.com/search?q=calendar+logo&sca_esv=d33f661f42c9ee99&udm=2&biw=360&bih=663&sxsrf=AE3TifN1Ob6hlJJU9zW4B_Umiowv-zZaQg%3A1767022014616&ei=vp1SadupJfP31e8PvL-g2AI&oq=calendar+logo&gs_lp=EhJtb2JpbGUtZ3dzLXdpei1pbWciDWNhbGVuZGFyIGxvZ28qAggAMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgARIlSpQyg1Y3yNwAHgAkAEAmAHXAaAByAiqAQUwLjQuMrgBAcgBAPgBAZgCBqACuAnCAg0QABiABBixAxhDGIoFwgIQEAAYgAQYsQMYQxiDARiKBcICChAAGIAEGEMYigXCAggQABiABBixA5gDAIgGAZIHBTAuMy4zoAfOD7IHBTAuMy4zuAe4CcIHBTMtNC4yyAdsgAgA&sclient=mobile-gws-wiz-img
      /* -----NAV BAR START------ */
      .navbar {
      display: flex;
      background-color:#2c3e50;
      padding: 8px;
      margin-top: 2px;
      align-items: center;
      justify-content: center;
      border-style: solid;
      border-color: blue;
      border-width: 0PX;
    }

    .navbar a {
      color: rgb(255, 255, 255);
      background-color: #2c3e50;
      text-decoration: none;
      padding: 2px 5px;
      margin-right: 3px;
      border-style: solid;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      border-width: 3px;
      border-top-color: #2c3e50;
      border-left-color: #2c3e50;
      border-right-color: #2c3e50;
      /* border-left-color: #2c3e50; */
    }


    .navbar a:hover {
      background-color: rgb(255, 0, 191);
      font-weight: bold;
      border: solid;
      border-color: #ffffff;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #0a3363;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
      min-width: 200px;
      margin-top: 0cm;
      text-align: left;

    }

    .dropdown-content a {
      margin: 0px;
      color: white;
      padding: 10px 15px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: rgb(9, 255, 46);
      color: black;
      /* font-weight: bold; */
      border-color: #fa0aae;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    /* ----------Inner Dropdown 2 Start-------------------------- */
    .dropdown2:hover .dropdown-content2 {
      display: block;
    }

    .dropdown-content2 {
      display: none;
      position: absolute;
      background-color: none;
      box-shadow: 0px 18px 16px rgba(0, 0, 0, 0.5);
      z-index: 1;
      /* min-height: 5px; */
      min-width: 200px;
      margin-left: 80px;
      margin-top: -47px;
    }
    .dropdown-content2 a {
      margin: 0px;
      color: rgb(121, 239, 250);
      padding: 10px 15px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content2 a:hover {
      background-color: rgb(9, 255, 46);
      color: black;
      /* x */
    }
    /* ----------Inner Dropdown 2 End-------------------------- */
    /* ----------Inner Dropdown 3 Start-------------------------- */
    .dropdown3:hover .dropdown-content3 {
      display: block;
    }

    .dropdown-content3 {
      display: none;
      position: absolute;
      background-color: none;
      box-shadow: 0px 18px 16px rgba(0, 0, 0, 0.5);
      z-index: 1;
      min-width: 200px;
      margin-left: 80px;
      margin-top: -50px;
    }
    .dropdown-content3 a {
      margin: 0px;
      color: rgb(184, 255, 92);
      padding: 10px 15px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content3 a:hover {
      background-color: rgb(9, 255, 46);
      color: black;
    }
    /* ----------Inner Dropdown 3 End-------------------------- */

  </style>
